{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Logged out - Local Library{% endblock %}

{% block body %}

    <div class="alert alert-primary" role="alert">
        You are successfully logged out of your account.
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">If you want to login in, <a href="{% url 'login' %}">click here</a>.</th>
        </tr>
        </thead>
    </table>


    <br><br><br><br>
    <br><br>
{% endblock %}