{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Password reset - Local Library{% endblock %}

{% block body %}

    <div class="alert alert-primary" role="alert">
        To reset your password, please enter your email.
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Enter registered email :-</th>
        </tr>
        </thead>
    </table>


    <form method="post" action="#">
        {% csrf_token %}
        {% if form.email.errors %}
            <span>{{ form.email.errors }}</span>
        {% endif %}

        <span id="input">{{ form.email }}</span>
        <br>
        <input class="btn btn-primary mt-1" type="submit" value="Reset password">
    </form>

    <br><br><br><br>
{% endblock %}