{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Reset password sent - Local Library{% endblock %}

{% block body %}

    <div class="alert alert-primary" role="alert">
        Reset password email sent.
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
            If you have successfully reset your password, <a href="{% url 'login' %}">login here</a>.</th>
        </tr>
        </thead>
    </table>


    <br><br><br><br>
    <br><br>
{% endblock %}