{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Password link - Local Library{% endblock %}

{% block body %}

    <div class="alert alert-primary" role="alert">
        Follow the link below.
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

            </th>
        </tr>
        </thead>
    </table>


    <br><br><br><br>
    <br><br>
{% endblock %}