{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Reset password sent - Local Library{% endblock %}

{% block body %}

    <div class="alert alert-primary" role="alert">
        Your password was successfully completed.
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Your password has been sucessfully changed. Now please <a href="{% url 'login' %}">login</a> to continue.</th>
        </tr>
        </thead>
    </table>


    <br><br><br><br>
    <br><br>
{% endblock %}