{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Books - Local Library{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-3  col-md-3 col-sm-12">
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <td>Books</td>
                    <tr>
                        <td><a href="{% url 'index' %}">Home</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'all_books' %}">All books</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'all-authors' %}">All authors</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="alert alert-primary" role="alert">
                    These are total number of books.
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title of the book</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in book_instance %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ book.title }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}