{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Books - Local Library{% endblock %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        These are {{ total_books_demo }} number of books.
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title of the book</th>
        </tr>
        </thead>
        <tbody>
        {% for book in book_instance %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a><br> - By: {{ book.author }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}