{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Authors - Local Library{% endblock %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        Local library has following records.
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Author name(s)</th>
            {#                        <th scope="col">Availibility</th>#}
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'author-detail' author.last_name author.id %}">{{ author.first_name }} {{ author.last_name }}</a> - <small>({{ author.date_of_birth }})</small></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}