{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}{{ author.first_name }} - Local Library{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        <h5 style="color: black">{{ author.first_name }} {{ author.last_name }}</h5>
    </div>
    <small>{{ author.date_of_birth }}</small>

    <ol class="list-group list-group mt-3">

        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Books :-</div>
            </div>
        </li>


    {% if author.book_set.all %}
        {% for book in author.book_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ forloop.counter }})  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a></div>
                <div style="font-size: 17px" class="ms-2 pt-1">{{ book.summary|truncatechars:'200' }}</div>
            </div>
        </li>
    {% endfor %}
        {% else %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div style="color: palevioletred" class="fw-bold">'{{ author.first_name|capfirst }}' has not written any books</div>
            </div>
        </li>
    {% endif %}
    </ol>
    <br><br><br>

{% endblock %}