{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Books - Local Library{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        <h5 style="color: black">{{ book.title }}</h5>
    </div>
    <span style="color:yellowgreen" class="p-3"> By: {{ book.author }}</span>

    <ol class="pt-3 list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Summary</div>
                {{ book.summary }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">ISBN</div>
                {{ book.isbn }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Language</div>
                {{ book.language }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Genre</div>
                {{ book.display_genre }}
            </div>
        </li>
    </ol>


    <div class="mt-5 alert alert-primary" role="alert">
        <h5 style="color: black">Copies availability:</h5>
    </div>

    <ul class="list-group list-group-flush">

        {% for copy in book.bookinstance_set.all %}
            <li class="list-group-item">
                <span class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</span><br>

                {% if copy.status != 'a' %}
                    <br><span><strong>Due to be returned: </strong>{{ copy.due_back }}<br>
                    To renew this book, <a href="{% url 'renew-book-librarian' copy.id %}">click here</a>.<br><br>
                    </span>
                {% endif %}
                <span><strong>Imprint: </strong>{{ copy.imprint }}<br></span>
                <span><strong>ID: </strong>{{ copy.id }}</span>

            </li>
        {% endfor %}

    </ul>
    <br><br><br><br>

{% endblock %}