{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Local Library{% endblock %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        Local library has following records.
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book name(s)</th>
            <th scope="col">Availibility</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Total books</td>
            <td>{{ books|length }}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Total copies</td>
            <td>{{ total_copies|length }}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Available copies</td>
            <td>{{ available_books }}</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Authors</td>
            <td>{{ authors|length }}</td>
        </tr>
        </tbody>
    </table>
    <p style="float:right">Page hits: {{ num_visits }}</p>
{% endblock %}